{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}

  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <h2>Register</h2>

      <table class="table">
        <tr>
          <td>{{ form.first_name.label_tag }}</td>
          <td>{{ form.first_name }}</td>
        </tr>
        <tr>
          <td>{{ form.last_name.label_tag }}</td>
          <td>{{ form.last_name }}</td>
        </tr>
        <tr>
          <td>{{ form.email.label_tag }}</td>
          <td>{{ form.email }}</td>
        </tr>
        <tr>
          <td>{{ form.password1.label_tag }}</td>
          <td>{{ form.password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.password2.label_tag }}</td>
            <td>{{ form.password2 }}</td>
          </tr>
      </table>

      <input type="submit" value="register">
    </form>
{% endblock %}
