{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <link href="{% static 'bowlpool_app/css/signin.css' %}" rel="stylesheet">

  <div class="form-signin text-center">
    <h1 class="h3 mb-3 fw-normal">A-A Bowl Pool Sign In</h1>

    <form method="post" action="{% url 'login' %}" class="form">
      {% csrf_token %}
      {% bootstrap_form form alert_error_type="fields" %}

      <input type="hidden" name="next" value="{{ next }}">

      {% bootstrap_button size="lg" extra_classes="w-100 btn-primary" button_type="submit" content="Sign in" %}

      {% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}

      <p><a href="{% url 'register' %}">Register</a></p>
    </form>
  </div>

{% endblock %}